body {
    background-color: #b6f17e;
  }

.page{
    width: 80%;
    text-align: center;
    margin: 50px auto;
    border-radius: 5px;
}

.page h1{
    font-family: 'Bungee Shade', cursive;
    line-height: 48px;
}

h4{
    font-size: 21px;
    font-family: 'Bungee', cursive;
    margin: 0px;
}

h4 #clock{
    font-size: 36px;
    display: block;
    padding: 5px 0px;
}

blockquote{
    margin: -80px 0 100px 0;
    font: 2em/1em 'Open Sans', sans-serif;
    -webkit-text-stroke: 1px black;
    text-shadow: 2px 2px #000;
    color: #fff;
}

blockquote:before{
    content: '"';
}

blockquote:after{
    content: '"';
}